.shop {
    header {
        .container { 
            margin-top: 7.25em;
            p {
                text-transform: uppercase;
                font-family: $ff-accent;
                font-size: 2rem;
                margin: 0;
            }
        }
    }

}

.shop-content {
    p {
        font-family: $ff-accent;
        font-size: 1.5em;
        margin-bottom: .5em;
    }

    h2 {
        letter-spacing: 2px;
    }
}

    .masonry {
        margin-top: 4rem;
        column-count: 1;
        column-gap: .25em;

        @include for-desktop {
            column-count: 2;
            column-gap: 0.5em;
        }

        .brick {
            display: inline-block;
            width: 100%;

            img {
                width: 80%;
                margin: 0 auto;

                @include for-desktop {
                    width: 100%;
                }
            }
        }

        .brick:nth-child(1n+7) {
            display: none;

            @include for-desktop {
                display: inline-block;
            }
        }
    }