.home header {

    .quick-order {
        display: none;
    }

    @include for-desktop {
        .quick-order {
            display: block;
            position: absolute;
            bottom: 2em;
            right: 0;
            animation: 1s ease-out 0s 1 slideInFromRight;

            .dd-quick-order {
                height: 50px;
            }
        }
        @keyframes slideInFromRight {
            0% {
                transform: translateX(100%);
            }
            100% {
                transform: translateX(0);
            }
        }
    }

}

header {
    .container { 
        margin-top: 2.25em;
        p {
            text-transform: uppercase;
            font-family: $ff-accent;
            font-size: 2rem;
            margin: 0;
        }
    }

    .doordash-light {
        background-color: $clr-accent-400;
        height: 4em;
        width: 100%;
        position: absolute;
        bottom: 0px;

        img {
            height: 2em;
            margin: 0 auto;
            padding: .75em;
        }
    }
}

nav {
    background-color: $clr-accent-400;
    color: $clr-primary-400;
    font-family: $ff-accent;
    font-size: 1.15rem;
    font-weight: normal;
    display: flex;
    width: 100%;
    height: 2.25em;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 5px 0;

    @include for-desktop {
        font-size: 1.25rem;
        top: 40px;
    }

    a {
        color: inherit;
        margin: 0 .5em;
    }

    .logo {
        display: none;

        @include for-desktop {
            display: inline;
            height: 90px;
        }
    }
}