@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One&family=Open+Sans:wght@300;400;600&display=swap');

$clr-primary-200: #e9e3da;
$clr-primary-400: #c9c0b5;
$clr-primary-600: #574e43;
$clr-primary-800: #3f362f;
$clr-primary-900: #444444;

$clr-neutral-100: #fcfcfc;
$clr-neutral-600: #877768;

$clr-accent-200: #e2dacd;
$clr-accent-400: #b73827;

$ff-primary: 'Open Sans', Helvetica, Arial, sans-serif;
$ff-accent: 'Chau Philomene One', sans-serif;
$ff-content: 'Times New Roman', serif;